 <footer>
    <div class="footer-container">
    <div class="footer-logo">
    <!--<img class="logo" src="./images/icons/bags-shopping.svg" alt="company logo"/> -->
    <h2>Gradient Group</h2>
  </div>
   <nav>
    <ul>
    <li><form action="{% url 'index' %}" method="get">
        <button type="submit">Home</button>
    </form></li>
    </ul>
  </nav>
</div>
   <div class="contact">
  <ul>
    <li>Phone: 613-555-1234</li>
    <li>Email: GradientGroup@gmail.com</li>
    <li>Address: 1125 Colonel By Dr, Ottawa, ON</li>
    <li>Copyright © 2026 Gradient Group. All rights reserved.</li>
  </ul>
</div>

  </footer>